<section>
<div class="gridContainer">

<div class="leftContainer" >

</div>
<div class="rightContainer">
  <div class="navItems">
  </div>
<div class="createAccount">
  <h1>Create Account</h1>
<form [formGroup]="applyForm" action="" class="formGroup">

<div class="inputGroup">
  <label for="firstName">First Name</label>
<input type="text" id="firstName" formControlName="firstName">
</div>

<div class="inputGroup">
  <label for="lastName">Email</label>
<input type="email" id="email" formControlName="email">
</div>

<div class="inputGroup">
  <label for="password">Password</label>
  <input type="text" id="password" formControlName="password" placeholder="**********">
</div>


<div class="actionGroup">
<button type="submit" class="primary">Create Account</button>

<button type="submit" class="googleSignUp">Sign up with Google</button>
</div>

<p>Already have an account? </p>
</form>
</div>
</div>

</div>

</section>
