<section>
  <div class="gridContainer">
    <div class="leftContainer" [style.background-image]="isFileSelected ? 'url(../../assets/Vector.png)' : 'url(../../assets/bgImage.png)'">
      <img src="./../../assets/boy_pic1.png" alt="" [class.hidden]="isFileSelected">
    </div>
    <div class="rightContainer">
      <div class="navItems">
        <ul>
          <li>
            <a routerLink= '' routerLinkActive="active">Back</a>
          </li>
          <li>
            <a routerLink="#">Step 1 / 2</a>
          </li>
          <li>
            <a routerLink="" routerLinkActive="active">Exit</a>
          </li>
        </ul>
      </div>

      <div class="uploadContent">
        <div class="addPhoto">
        <h1>Add Photo</h1>
        <p>Add a photo so other members know who you <br> are</p>
        <img [src]="profileUrl"  alt="" class="user">
        </div>

        <div class="uploadBtn">
            <label class="primary" [hidden]="!isLabelVisible"><input type="file" (change)="onselectFile($event)" class="inputFile">upload a photo</label>
            <button class="primary"  [hidden]="isLabelVisible" (click)="onButtonClick()">continue</button>
          <a routerLink="/continue-page"  routerLinkActive="router-link-active" [class.hidden]="isFileSelected">Skip</a>
        </div>

      </div>
      </div>
  </div>
</section>
