<section>
  <main class="gridContainer">
    <div class="leftContainer"></div>


    <div class="rightContainer">
      <div class="navItems">
        <ul>
          <li>
            <a routerLink= '/app-upload' routerLinkActive="active">Back</a>
          </li>
          <li>
            <a routerLink="#">Step 1 / 2</a>
          </li>
          <li>
            <a routerLink="" routerLinkActive="active">Exit</a>
          </li>
        </ul>
      </div>

      <div class="rightSubContainer">

      <div class="socialBtnContainer">
      <div class="addPhoto">
        <h1>Hey there! What brings you here?</h1>
        <p>This will help us make great <br> recommendations.</p>
        </div>

        <div class="socialButtons">
          <button class="primary btn"> <i class="fa-solid fa-plus"></i> Social Interaction</button>
          <button class="btn"><i class="fa-solid fa-plus"></i>Personal develpment</button>
          <button class="btn"><i class="fa-solid fa-plus"></i>Entertainment and Fun</button>
          <button class="btn"><i class="fa-solid fa-plus"></i>Rewards and recognition</button>
        </div>
      </div>
      
      <button class="primary "> Continue</button>
    </div>

    </div>
  </main>
</section>
