<section>
  <main class="gridContainer">
    <div class="leftContainer"><img src="../../assets/boy2.png" alt=""></div>

    <div class="rightContainer">

      <div class="navItems">
        <ul>
          <li>
            <a routerLink= '' routerLinkActive="active">Back</a>
          </li>
          <li>
            <a routerLink="#">Step 1 / 2</a>
          </li>
          <li>
            <a routerLink="" routerLinkActive="active">Exit</a>
          </li>
        </ul>
      </div>

      <div class="dashboardContainer">
      <div class="addPhoto">
        <h1 [style]="'text-align:center' ">Let's get started by <br>picking some interest</h1>
        <p>Alright, let's pick something we're<br> interested in and get started!.</p>
        </div>

        <div class="settingsContainer">
          <div class="settings settings1">
            <h1>Gamming</h1>
            <div class="add">Add <i class="fa-solid fa-check"></i></div>
          </div>
          <div class="settings settings2">
            <h1>Fashion</h1>
            <div class="add">Add <i class="fa-solid fa-check"></i></div>
          </div>
          <div class="settings settings3">
            <h1>Music</h1>
            <div class="add">Add <i class="fa-solid fa-check"></i></div>
          </div>
          <div class="settings settings4">
            <h1>Reading</h1>
            <div class="add">Add <i class="fa-solid fa-check"></i></div>
          </div>
        </div>

        <button class="primary">Continue</button>
      </div>

    </div>

  </main>
</section>
