<section>
  <main class="gridContainer">
    <div class="leftContainer"><img src="../../assets/boy2.png" alt=""></div>

    <div class="rightContainer">

      <div class="navItems">
        <ul>
          <li>
            <a routerLink= '' routerLinkActive="active">Back</a>
          </li>
          <li>
            <a routerLink="#">Step 1 / 2</a>
          </li>
          <li>
            <a routerLink="" routerLinkActive="active">Exit</a>
          </li>
        </ul>
      </div>

      <div class="dashboardContainer">
      <div class="addPhoto">
        <h1 [style]="'text-align:center' ">Let's get started by <br>picking some interest</h1>
        <p>Alright, let's pick something we're<br> interested in and get started!.</p>
        </div>

        <div class="settingsContainer">
          <div class="settings1">

          </div>
          <div class="settings2">2</div>
          <div class="settings3">3</div>
          <div class="settings4">3</div>
        </div>

        <button></button>
      </div>

    </div>

  </main>
</section>
