/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
li, a{
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}
button{
  width: 300px;
  align-items: center;
 padding: 10px 0;
 border: none;

 border-radius: 4px;
}
.primary{
  background-color: #0267FF ;
  color: white;
  transition:  .3s ease-in-out;
  cursor: pointer;
}
p{
  color: #999;
}
